[Unit]
Description=-Server Application
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/bin/bash /home/pi/voice_machine/Server/shell/run.sh
ExecStop=/bin/kill -s SIGTERM $MAINPID

[Install]
WantedBy=multi-user.target
