[Unit]
Description=MQTT Application
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/voice_machine/Mqtt
ExecStart=/home/pi/voice_machine/venv/bin/python3 main.py
Restart=on-failure
RestartSec=10
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
w