[Unit]
Description=-MQTT Application
After=network.target
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/bin/bash /home/pi/voice_machine/Mqtt/shell/run.sh
ExecStop=/bin/kill -s SIGTERM $MAINPID

StartLimitIntervalSec=20
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
